<div class="container-fluid">
<h1 class="show-header"><%= @popcorn_choice.name %> Popcorn</h1><br>
<p class="logo-popcorn-show"><img src="<%= @popcorn_choice.photo %>"></p>
<p class="logo-popcorn-show"><%= image_tag "Sweet-street-logo.png" %></p><br><br>
<h4 class="show-header"><%= @popcorn_choice.description %></h4>

</div>