<div class="container-fluid">

<h1><%= @popcorn_flavor.name %></h1>

<div class="img-thumbnail"><img src="<%= @popcorn_flavor.photo %>" alt="Smiley face" width="400" > </div><button><a href="/popcorn_flavors">Return to Popcorn Flavors</a></button><br />
<h3><%= @popcorn_flavor.description %></h3>

</div>