<div class="container-fluid">

  <u><h1>Holiday</h1></u>
    <% if @holidays %>
      <% @holidays.each do |holiday| %>
      <h3><a href="/<%= holiday.url %>"><%= holiday.name %></a></h3>
    <% end %>
    <% end %>

</div>