<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Sweet Street Wholesale inquiry! <%= @first_name %> <%=@last_name %></h1>
    <p>
      You have successfully sent a request for information to Sweet Street!
      <br>
    </p>
    
    <p>Thanks for inquiring, we'll get back to you as soon as possible.!</p>
  </body>
</html>