// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-carousel{
  border: 8px solid #59462E;
}

.jumbotron{
  background-image:url("store-pic-1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ws_callout {
  float:right;  
}
.fundraiser_button{
  margin-left:30px;
}
#pic-1, #pic-2{
   width:100px;
    height:100px;
    border:1px solid red;
    margin-right:10px;
    float:left;
}


