// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-carousel{
  border: 8px solid #59462E;
}
#product-header{
  color: red;
}
.jumbotron{
background-image:url("store-pic-1.jpg");
 min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
  background-size: cover;
}