.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
 
.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
body {
    background-image: url("brickwall_@2X.png");
    background-repeat: repeat;       
}

.logo-sweet{
  position: relative;
  width: 750px;
  height: 500px;
  border-left: 20px solid #392914;
  border-right: 20px solid #392914;
  border-top: 20px solid #59462E;
  border-bottom: 20px solid #59462E;
  padding-top: 30px;
  padding-left: 90px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url("store-pic-1.jpg");
  background-repeat: repeat;
}

#box-link { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 720px; 
    height: 500px; 
    background-color: transparent;
     }
#memories span{
color: white;
 margin-left: 470px;
 margin-top: 40px;
}
.product-header{
  font-family: Papyrus,fantasy;

}
.product-header span{
  max-width: 50px;
  
}
.bg-color{
  background-color: #59462E;
  font-family: Papyrus,fantasy;
  color: white;
}
#hoursInfo{
  color: black;
  text-align: center;
}
.modalLogo{
  position: absolute;
  margin-left: 175px;
  margin-top: 15px;

}

.modalFoot{
  text-align: left;
  font-family: Papyrus,fantasy;
}
.about_info{
  text-align: bottom;
  margin-left: 750px;
  margin-top: -690px;
  text-align: justify;
}
.thumbnail img{
  max-height: 230px;
  float: left;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.animated-popcorn{
-webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  animation: fadeIn 4s;
 position: absolute;
 margin-left: 100px;
 margin-top: -210px;

}
.show-header{
  width: 600px;
}
.logo-popcorn-show{
  float: left;
  margin-top: -25px;
}
.thumb{
  background-color: #CC8EA5;
  border-left: 5px solid #59462E;
 border-right: 5px solid #59462E;
 border-top: 5px solid #392914;
 border-bottom: 5px solid #392914;
  height: 180px;
  width: 170px;
}
#festival-pics{
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
  width: 300px;
  padding-left:70px;
  padding-top:70px;
}
.video{
  position: absolute;
  margin-left: 638px;
  margin-top: -229px;
}
.treats{
  width: 700px;
  position: static;
  margin-top: -478px;
  margin-left: 400px;
   -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
#trailer:hover{
  -webkit-transform: scale(1.7,1.7);
    -moz-transform:scale(1.7,1.7);
    opacity: 1.7;
    -webkit-opacity: 1.7;
    -moz-opacity: 1.7;
}
.special{
  position: absolute;
    left: 30px;
    top: 50px;
    z-index: +1;
}
.item img{
  height: 200px;
}
.panel-body img{
  height: 100px;
}
.logo{
  position: absolute;
    left: 40px;
    top: 10px;
    z-index: +1;
}
.header-background{
  position: relative;
    
    z-index: -1;
}
.active_layout{
  z-index: +1;
  color: red;
}
