<div class="container-fluid">

<h1><%= @product.name %></h1>

<div class="img-thumbnail"><img src="<%= @product.photo %>" alt="Smiley face" > </div><button><a href="/">Return to Products</a></button><br />
<h3><%= @product.description %></h3>

</div>