<div class="container-fluid">

<h1><%= @product.name %></h1>

<div ><img src="<%= @product.photo %>" alt="Smiley face" class="thumbnail"> </div><button><a href="/">Return to Products</a></button><br />
<h3><%= @product.description %></h3>

</div>