

<div class= "container-fluid">

  <h1>Please pay the amount shown to order your products!</h1>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @amount %>.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount * 100 %>"></script>
<% end %>

</div>