<div class= "container-fluid">
  <h1>Banners</h1>
  <% @layouts.each do |l| %>
  <a href="/layouts/<%= l.id %>/edit" ><p><img scr= '<%= l.photo_url %>' height="80" width="100%" ></p></a>
  <% end %>
</div>